Repository bounswe/bounswe2019group8, pull requests merged in 2019-10, with the labels that each got.

#126 Backend/issue 121
  .gitignore
  backend/README.md
  backend/pom.xml
  backend/src/main/java/com/traders/backend/BackendApplication.java
  backend/src/main/java/com/traders/backend/config/SecurityConfig.java
  backend/src/main/java/com/traders/backend/config/WebMvcConfig.java
  backend/src/main/java/com/traders/backend/controller/AdminOperationController.java
  backend/src/main/java/com/traders/backend/controller/AuthenticationController.java
  backend/src/main/java/com/traders/backend/exception/AppException.java
  backend/src/main/java/com/traders/backend/exception/BadRequestException.java
  backend/src/main/java/com/traders/backend/model/User.java
  backend/src/main/java/com/traders/backend/repository/UsersRepository.java
  backend/src/main/java/com/traders/backend/security/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/traders/backend/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/traders/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/traders/backend/security/UserPrincipal.java
  backend/src/main/java/com/traders/backend/service/UserDetailsServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/traders/backend/BackendApplicationTests.java
Labels: Backend, Effort: Medium, Group work, Help wanted, Priority: Medium, Status: Available

#131 Issue 122
  frontend/CONTRIBUTING.md
  frontend/my-app/.gitignore
  frontend/my-app/README.md
  frontend/my-app/package-lock.json
  frontend/my-app/package.json
  frontend/my-app/public/favicon.ico
  frontend/my-app/public/index.html
  frontend/my-app/public/logo192.png
  frontend/my-app/public/logo512.png
  frontend/my-app/public/manifest.json
  frontend/my-app/public/robots.txt
  frontend/my-app/src/App.css
  frontend/my-app/src/App.jsx
  frontend/my-app/src/App.test.jsx
  frontend/my-app/src/containers/Login.css
  frontend/my-app/src/containers/Login.jsx
  frontend/my-app/src/index.css
  frontend/my-app/src/index.js
  frontend/my-app/src/logo.svg
  frontend/my-app/src/serviceWorker.js
  frontend/my-app/yarn.lock
Labels: Effort: Medium, Frontend, Group work, New feature, Planning, Platform: Web, Priority: High, Status: In Progress

#130 Initialize the mobile
  mobile/CONTRIBUTING.md
  mobile/Traders/.gitignore
  mobile/Traders/.idea/.name
  mobile/Traders/.idea/codeStyles/Project.xml
  mobile/Traders/.idea/codeStyles/codeStyleConfig.xml
  mobile/Traders/.idea/dictionaries/volkanyilmaz.xml
  mobile/Traders/.idea/gradle.xml
  mobile/Traders/.idea/misc.xml
  mobile/Traders/.idea/runConfigurations.xml
  mobile/Traders/app/.gitignore
  mobile/Traders/app/build.gradle
  mobile/Traders/app/proguard-rules.pro
  mobile/Traders/app/src/androidTest/java/com/bounswe/traders/ExampleInstrumentedTest.kt
  mobile/Traders/app/src/main/AndroidManifest.xml
  mobile/Traders/app/src/main/java/com/bounswe/traders/Login.kt
  mobile/Traders/app/src/main/java/com/bounswe/traders/MainActivity.kt
  mobile/Traders/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  mobile/Traders/app/src/main/res/drawable/ic_launcher_background.xml
  mobile/Traders/app/src/main/res/layout/activity_login.xml
  mobile/Traders/app/src/main/res/layout/activity_main.xml
  mobile/Traders/app/src/main/res/layout/content_login.xml
  mobile/Traders/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/Traders/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/Traders/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/Traders/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/Traders/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/Traders/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/Traders/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/Traders/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/Traders/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/Traders/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/Traders/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/Traders/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile/Traders/app/src/main/res/values/colors.xml
  mobile/Traders/app/src/main/res/values/dimens.xml
  mobile/Traders/app/src/main/res/values/strings.xml
  mobile/Traders/app/src/main/res/values/styles.xml
  mobile/Traders/app/src/test/java/com/bounswe/traders/ExampleUnitTest.kt
  mobile/Traders/build.gradle
  mobile/Traders/gradle.properties
  mobile/Traders/gradle/wrapper/gradle-wrapper.jar
  mobile/Traders/gradle/wrapper/gradle-wrapper.properties
  mobile/Traders/gradlew
  mobile/Traders/gradlew.bat
  mobile/Traders/settings.gradle
Labels: Platform: Mobile, Status: In Progress

#138 Move POST request content type from url encoded to json
  .gitignore
  backend/src/main/java/com/traders/backend/controller/AdminOperationController.java
  backend/src/main/java/com/traders/backend/controller/AuthenticationController.java
  backend/src/main/java/com/traders/backend/dto/LoginCredentials.java
  backend/src/main/java/com/traders/backend/dto/RegisterCredentials.java
Labels: Backend, Type: Feature

#141 Update login
  mobile/Traders/app/src/main/res/layout/content_login.xml
Labels: Mobile

#152 Merge Android
  mobile/Mercatus/.idea/misc.xml
  mobile/Mercatus/.idea/vcs.xml
  mobile/Mercatus/app/src/main/res/layout/activity_register.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Effort: Medium

#143 Feature b139
  backend/pom.xml
  backend/src/main/java/com/traders/backend/config/SecurityConfig.java
  backend/src/main/java/com/traders/backend/controller/AdminOperationController.java
  backend/src/main/java/com/traders/backend/controller/AuthenticationController.java
  backend/src/main/java/com/traders/backend/controller/UserController.java
  backend/src/main/java/com/traders/backend/dto/IdWrapper.java
  backend/src/main/java/com/traders/backend/dto/RegisterCredentials.java
  backend/src/main/java/com/traders/backend/model/User.java
  backend/src/main/java/com/traders/backend/repository/UsersRepository.java
  backend/src/main/java/com/traders/backend/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/traders/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/traders/backend/security/UserPrincipal.java
  backend/src/main/java/com/traders/backend/service/UserDetailsServiceImpl.java
  backend/src/main/java/com/traders/backend/service/UserService.java
  backend/src/main/java/com/traders/backend/service/UserServiceImpl.java
  backend/src/main/resources/application.properties
Labels: Backend, Due to Feedback

#165 Develop Register Pages for Users.
  mobile/Mercatus/app/build.gradle
  mobile/Mercatus/app/src/main/res/drawable/ic_check.xml
  mobile/Mercatus/app/src/main/res/layout/activity_basic_user.xml
  mobile/Mercatus/app/src/main/res/layout/activity_trader_user.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Effort: Low, Mobile, Priority: Low, Priority: Medium, Status: Review Needed, Type: Feature

#172 Add follow and unfollow endpoints
  nova/nova/models.py
  nova/nova/serializers.py
  nova/nova/urls.py
  nova/nova/views.py
Labels: Backend, Effort: Medium, Priority: High, Status: In Progress, Type: Feature

#178 Sign up page credentials are implemented.
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/BasicUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/LoginActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/RegisterActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/TraderUserActivity.kt
  mobile/Mercatus/app/src/main/res/layout/activity_basic_user.xml
Labels: Effort: Medium, Mobile, Platform: Mobile, Priority: Medium

#182 Date picker is added, enhancement on view.
  mobile/Mercatus/.idea/misc.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/BasicUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/TraderUserActivity.kt
  mobile/Mercatus/app/src/main/res/layout/activity_basic_user.xml
  mobile/Mercatus/app/src/main/res/layout/activity_login.xml
  mobile/Mercatus/app/src/main/res/layout/activity_register.xml
  mobile/Mercatus/app/src/main/res/layout/activity_trader_user.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Effort: Low, Mobile, Platform: Mobile, Priority: Low
