Repository bounswe/bounswe2019group8, pull requests merged in 2019-11, with the labels that each got.

#203 Depreciated functions are replaced and added transition animations.
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/BasicUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/LoginActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/MainActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/TraderUserActivity.kt
  mobile/Mercatus/app/src/main/res/anim/slide_in_left.xml
  mobile/Mercatus/app/src/main/res/anim/slide_in_right.xml
  mobile/Mercatus/app/src/main/res/anim/slide_out_left.xml
  mobile/Mercatus/app/src/main/res/anim/slide_out_right.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#212 Added show profile and list item click event
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/CustomAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/LoginActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/SearchActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/ShowProfileActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/SearchShow.kt
  mobile/Mercatus/app/src/main/res/drawable-v24/profile.png
  mobile/Mercatus/app/src/main/res/drawable/button_style.xml
  mobile/Mercatus/app/src/main/res/drawable/gradient_background.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_add_a_photo.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_arrow_forward.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_date_range_black_24dp.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_email_black_24dp.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_group_add_black_24dp.xml
  mobile/Mercatus/app/src/main/res/layout/activity_show_profile.xml
  mobile/Mercatus/app/src/main/res/layout/item_layout.xml
  mobile/Mercatus/app/src/main/res/values/colors.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#213 Followings and followers layout is created
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/FollowersActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/FollowingsActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/MainActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/SearchActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/ShowProfileActivity.kt
  mobile/Mercatus/app/src/main/res/layout/activity_followers.xml
  mobile/Mercatus/app/src/main/res/layout/activity_followings.xml
  mobile/Mercatus/app/src/main/res/layout/activity_show_profile.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#214 Followings and followers functionality is added.
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/FollowersActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/FollowingsActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/FollowersActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/FollowingsActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/ShowProfileActivity.kt
  mobile/Mercatus/app/src/main/res/layout/activity_followers.xml
  mobile/Mercatus/app/src/main/res/layout/activity_followings.xml
Labels: Mobile

#216 require email activation to login if not in debug mode
  nova/nova/views.py
Labels: Backend

#221 Feature m220
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/LoginActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/ShowProfileActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/FollowBody.kt
  mobile/Mercatus/app/src/main/res/values/colors.xml
Labels: Mobile, Platform: Mobile

#227 Add basic serializer for user
  nova/nova/serializers.py
Labels: Backend, Effort: Low, Priority: Medium

#224 Feature b222
  nova/nova/av.py
  nova/nova/models.py
  nova/nova/other_views/__init__.py
  nova/nova/other_views/article_view.py
  nova/nova/other_views/comment_view.py
  nova/nova/other_views/trading_eq_view.py
  nova/nova/permissions.py
  nova/nova/serializers.py
  nova/nova/settings.py
  nova/nova/urls.py
  nova/nova/views.py
Labels: Backend, Effort: Medium

#231 Article show and create are implemented
  mobile/Mercatus/app/build.gradle
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/ArticlesAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/CreateArticleActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/MainActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/SaveActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/CreateArticleBody.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/GetArticleBody.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/ArticlesFragment.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/HomeFragment.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/ProfileFragment.kt
  mobile/Mercatus/app/src/main/res/drawable/ic_comment.xml
  mobile/Mercatus/app/src/main/res/drawable/ic_edit.xml
  mobile/Mercatus/app/src/main/res/layout/activity_create_article.xml
  mobile/Mercatus/app/src/main/res/layout/app_bar_main.xml
  mobile/Mercatus/app/src/main/res/layout/article_layout.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_articles.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_home.xml
  mobile/Mercatus/app/src/main/res/values/dimens.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
  mobile/Mercatus/build.gradle
Labels: Mobile

#249 Add cronjob decoration to fill parities
  .gitignore
  nova/README.md
  nova/nova/av.py
  nova/nova/settings.py
Labels: Backend, Effort: Low, Priority: High

#251 Like&Dislike for Articles and Comments
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/ArticlesAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/CommentAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Articles/ShowArticleActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/BasicUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/TraderUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/LikerModel.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/LikerModelComment.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/SearchRes.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/ShowArticleBody.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/ProfileFragment.kt
  mobile/Mercatus/app/src/main/res/drawable/dis_default.png
  mobile/Mercatus/app/src/main/res/drawable/dislike.png
  mobile/Mercatus/app/src/main/res/drawable/like.png
  mobile/Mercatus/app/src/main/res/drawable/like_default.png
  mobile/Mercatus/app/src/main/res/layout/activity_show_article.xml
  mobile/Mercatus/app/src/main/res/layout/article_layout.xml
  mobile/Mercatus/app/src/main/res/layout/comment_layout.xml
  mobile/Mercatus/app/src/main/res/values/colors.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#266 Trading equipments deployment
  mobile/Mercatus/app/build.gradle
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/API/RetrofitClient.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/CommentTradingAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/DigitalAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/ForexAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/TradingActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/TradingActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/TradingEqps/SearchEquipmentsActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/TradingEqps/ShowForexActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/User/ModifyActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/User/ModifyPasswordActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/CommentShowTradingBody.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Models/PredictionModel.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/DigitalFragment.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/ForexFragment.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/ProfileFragment.kt
  mobile/Mercatus/app/src/main/res/drawable/gradient_bg.xml
  mobile/Mercatus/app/src/main/res/layout/activity_forex_show.xml
  mobile/Mercatus/app/src/main/res/layout/activity_modify.xml
  mobile/Mercatus/app/src/main/res/layout/activity_search_equipments.xml
  mobile/Mercatus/app/src/main/res/layout/activity_trading.xml
  mobile/Mercatus/app/src/main/res/layout/change_password.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_digital.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_forex.xml
  mobile/Mercatus/app/src/main/res/values/colors.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
  mobile/Mercatus/build.gradle
Labels: Mobile

#277 Home Fragment Deployed
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/CommentTradingAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/SplashActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/TradingEqps/ShowForexActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/HomeFragment.kt
  mobile/Mercatus/app/src/main/res/drawable/dislike.png
  mobile/Mercatus/app/src/main/res/drawable/like.png
  mobile/Mercatus/app/src/main/res/drawable/web_hi_res_512.png
  mobile/Mercatus/app/src/main/res/layout/activity_splash.xml
  mobile/Mercatus/app/src/main/res/layout/article_layout.xml
  mobile/Mercatus/app/src/main/res/layout/comment_layout.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_home.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_profile.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#270 Import CurrentPrice and delete Kronos from project
  nova/README.md
  nova/nova/av.py
  nova/nova/models.py
  nova/nova/other_views/events.py
  nova/nova/other_views/parity_view.py
  nova/nova/serializers.py
  nova/nova/settings.py
Labels: Backend, Effort: Low, Priority: High, Type: Bug

#297 Bug Events
  mobile/Mercatus/app/src/main/AndroidManifest.xml
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Adapters/EventsAdapter.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/BasicUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/TraderUserActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/Entrance/VerificationActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/SearchDigitalActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/Fragments/SearchForexActivity.kt
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/EventsFragment.kt
  mobile/Mercatus/app/src/main/res/layout/activity_trader_user.xml
  mobile/Mercatus/app/src/main/res/layout/activity_verification.xml
  mobile/Mercatus/app/src/main/res/layout/event_layout.xml
  mobile/Mercatus/app/src/main/res/values/strings.xml
Labels: Mobile

#299 Bug m211
  mobile/Mercatus/app/src/main/java/com/bounswe/mercatus/ui/EventsFragment.kt
  mobile/Mercatus/app/src/main/res/layout/activity_login.xml
  mobile/Mercatus/app/src/main/res/layout/fragment_events.xml
Labels: Mobile
